body {
  background-color: rgb(228, 225, 211);
  font-family: Roboto;
}

header {
  background-color: #2b2b2b;
}

.logo {
  padding-left: 30px;
}

.reserva {
  background: rgb(182, 170, 147);
  background: linear-gradient(
    0deg,
    rgb(182, 170, 147) 11%,
    rgba(165, 141, 118, 0) 100%
  );
}

.rounded-btn {
    border-radius: 20px; 
}